
@import url('https://fonts.googleapis.com/css?family=Chivo');

table {
    border-collapse: collapse;
    width: 70%;
    float: left;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    font-weight: bold;
    color: #333333;
}

th {
    background-color: #333333;
    color: white;
}

button {
    background-color: #333333;
    color: white;
    border: none;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #666666;
}
  
.text-display {
    width: 30%;
    float: right;
    text-align: center;
    font-size: larger;
}

.side-by-side {
    text-align: center;
    display: inline-block;
    margin: auto
  }

  .Label {
    display: inline-block;
    width: 150px;
    text-align: center;
}


.LabelBook{
    Display: inline-block;
}

.LabelBookInput{
    width: 50px
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 110px;
    font-size: 17.5px;
  }

.back-button, .forward-button {
    padding: 5px 10px;
    font-size: larger;
}

.times {
    text-align: center;
}

.LabelTTC{
    width: 50%;
}


